@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900); 
#wrapper {
font-family:Tahoma;
}
.container {
width:100%;
margin:0 auto;
}

#subheader {
    width:100%;
    height:30px;
    background:#0069a8;
    color:#fff;
    margin-top:-15px;
}
    #subheader p {
        float:left;
        margin-top:7px;
    }
    #subheader a {
        float:right;
        line-height:30px;
        color:#fff;
        text-decoration:none;
        margin-left:30px;
 }

    /*logo styling*/
#main-header {
    margin-top:-10px;
width:100%;
height:80px;
background:#0069a8;
float:left
  
}
#logo {
    width:250px;
    margin-top:10px;
    float:left;
}
.lo {
    width: 60px;
    height: 60px;
    float: left;
}
#first {
    color:#fff;
    font-size:35px;
    font-weight:bold;
    margin-left:15px;
    font-family:cursive;

}
#second {
    color:#fff;
    font-size:25px;
    font-weight:bold;
    font-family:cursive;

}

/*search area*/
#search {
    width:55%;
    float:left;
    padding:20px;
    margin-left:50px;
}
.search-area {
    width:60%;
    height:30px;
    backface-visibility:#fff;
    border:none;
    border-radius:10px;
    float:left;
    padding-left:15px;
}
.search-btn {
    width:15%;
    height:35px;
    border-radius:10px;
    border:none;
    color:#fff;
    background:brown;
    margin-left:-100px;
}

/*user menu*/
#user-menu {
    width:15%;
    float:right;
    margin-top:20px;   
}
    #user-menu li {
        float:left;
        width:45%;
        text-align:center;
        list-style:none;
         font-size:25px;
    border-left: 1px solid black;

    }

 #user-menu li:hover {
            font-size:30px;
            transition:all .5 ease;
  }
        #user-menu li a {
            color:#fff;
            text-decoration:none;
        }

        /*navigation*/
#navigation {
    width:100%;
    height:35px;
    background:#0069a8;
    float:left;
    box-shadow:10px 14px 50px 2px #0069a8;
}
nav {
    width:1280px;
    margin:0 auto;
}
    nav a {
        margin-left:80px;
        color:#fff;
        text-decoration:none;

    }
    nav a:hover {
        color:black;
        transition:all .7s ease;

    }
    /*slider*/
    .slidershow{
  width:100%;
  height: 400px;
  overflow: hidden;
  margin-top:30px;
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.navi{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}

/*category*/
#heading-block {
    margin-top:400px;
    width:100%;
    height:auto;
    float:left;
    color:#0069a8;
    font-size:22px;

}

    #heading-block h2 {
        line-height:35px;
      
        padding-left:10px;
    }

/*category box*/
.catbox {
    width:265px;
    height:265px;
    float:left;
    overflow:hidden;
    position:relative;
    margin-left:40px;
}
    .catbox span {
        width:100%;
        height:35px;
        line-height:35px;
        background:#0069a8;
        color:white;
        display:block;
        bottom:30px;
        position:absolute;
        z-index:999;
        text-align:center;
}
    .catbox img {
        max-width:100%;
        height:100%;
        transition:all .5s ease;
    }
    .catbox:hover img {
        transform:scale(1.3,1.3);
        transition:all .5s ease;
    }

    /*Product*/
#heading {
    width:100%;
    height:auto;
    float:left;
    color:#0069a8;
    font-size:22px;

}

    #heading h2 {
        line-height:35px;
      
        padding-left:10px;
    }
    /*product style*/
.pro-box{
    width:235px;
    height:235px;
    overflow:hidden;
    margin:0 100 30 0;
    position: relative;
    float:left;
    margin-left:80px;
    margin-bottom:30px;
}
    .pro-box > img {
        max-height:100%;
        max-width:100%;
        height:100%;
 }
.pro-trans {
    background:rgba(0,0,0,0.6);
    width:100%;
    height:100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    position:absolute;
    opacity:0;
    transition:all .5s ease;
}
.pro-box:hover .pro-trans {
   opacity:1;
   transition:all .5s ease;
}
.pro-feature {
    text-align:center;
     margin-top:-150px;
     transition:all .5s ease;
}
    .pro-feature p {
        color:white;
        font-family:Verdana;
        }
.pro-box:hover .pro-feature {
    margin-top:150px;
    transition:all .5s ease;
}
.pro-feature input {
    width:150px;
    height: 35px;
    font-size:17px;
    background:#0069a8;
    color:white;
}

/*offer*/
.offer {
    width:400px;
    float:left;
}
    .offer img {
        width:320px;
        height:200px;
        float:left;
        margin-top:10px;
        margin-left:20px;
       
    }
    .offer:last-child {
        margin-right:0px;
    }

    .off-box {
    width:420px;
    height:250px;
    float:left;
    overflow:hidden;
    position:relative;
    margin-left:10px;
}
     .off-box:hover img {
        transform:scale(1.2,1.2);
        transition:all .5s ease;

/*responsive*/
@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    max-width: 50%;
  }
}

@media screen and (max-width:480px) {
  .service-box{
    max-width: 100%;
  }
}


/* Footer */


footer{
  padding:20px;
  margin-top:500px;
  color:black;
  background-color:#bcbcbe;
  text-align: center;
}

footer a

{
				color:black;
				}
footer{
	bottom: 0;
}
 
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
 
 
.footer-distributed{
	background-color: #0069a8;
	box-sizing: border-box;
	width: 100%;
 color:black;
	text-align: left;
	font: bold 12px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-distributed .footer-left{
	width: 30%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 18px 'Cookie', cursive;
	margin: 0;
}
 
/* The company logo */
 
.footer-distributed .footer-left img{
	width: 30%;
}
 
.footer-distributed h3 span{
	color:  #e0ac1c;
}
 
/* Footer links */
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 14px 0 12px;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-distributed .footer-center{
	width: 35%;
}
 
 
.footer-distributed .footer-center i{
	background-color:  #f1f1f1;
	color: #ffffff;
	font-size:14px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 14px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
.ig_icon
{
				width:25px;
				height:25px;
				}
 
/* Footer Right */
 
.footer-distributed .footer-right{
	width: 30%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom:10px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
	color:black;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	color:black;
	
	border-radius: 2px;
 
	font-size: 14px;
	color:black;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}

.fa fa-phone
{
				color:black;
				}
 
/* Here is the code for Responsive Footer */
 
 
@media (max-width: 880px) {
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
 
}
